<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio II</title>
</head>
<body>
    <p>Nombre de la Materia :<strong> Lavoratorio II</strong></p>  <br>
      <p>Docente a cargo:<strong> adasd</strong></p>  <br>
      <p>Horario :<strong> hora</strong></p>  <br>
      <p>Description :<strong> adasdadasd</strong></p> <br> 
      <p>Link de clase: <strong> <a href="">Arquitectura y sistema Operativo</a> </strong></p>  <br>

      <p>Grupo de Wasap<strong> <a href="">Arquitectura y sistema Operativo</a></strong></p> 
</body>
</html>