<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>huevo frito</title>
</head>
<body>
    <h1>huevo Fritas</h1> 
    <h5>Receta de huevo Frita caseras.</h5> 

    <img src="../img/calorias-huevo-frito.jpg" width="350px" height="250px" alt="papas fritas">    

    <h2>Ingredientes</h2> 
    <ul>
        <li>1  o mas huevos</li>
        <li>aceite de vegetal</li>
        <li>sal</li>
    </ul>
    <h2>Elaboracion (Pasos)</h2>
    <ol>
        <li>Calentear un poco de aceite en el sarten</li>
        <li>Romper el huevo</li>
        <li>Freir el hyuevo a gusto</li>
        <li>Servir el huevo en el plato </li>
        <li>Poner sal a gusto</li>
    </ol>
</body>
</html>